@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-magenta: #121139;
    --white: #fff;
    --gray: #92989F;
    --black: #000;
    --dark-purple: #121139;
}

*,
*::before,
*::after {
    @apply p-0 m-0 box-border font-sans overflow-hidden;
}

html,
body,
#root {
    @apply min-h-screen w-screen overflow-x-hidden;
}

html {
    overflow-y: scroll !important;
    @apply scroll-smooth;
}

.container {
    @apply w-[90%] min-h-full mx-auto
}

.center {
    @apply grid place-items-center;
}

.section {
    @apply min-h-screen w-screen;
}

.circle-gradient {
    background: linear-gradient(177deg, rgba(66, 62, 224, 0.40) -13.49%, rgba(129, 45, 226, 0.40) 109.75%);
}

.text-gradient {
    background: linear-gradient(263deg, #9130F4 21.05%, #4646F9 77.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
    border: 4px solid var(--stroke-gradient, #812DE2);
}